.btnclr {
  background-color: #ff6079 !important;
  color: white !important;
}
.txtclr {
  color: #ff6079 !important;
}
.nav-link {
  text-decoration: none;
  color: black !important;
}
.count {
  padding: 0 10px;
  background: #ff6079;
  border-radius: 5px;
  color: white;
}
.scroll {
  max-height: 500px;
  overflow: auto;
}
